@charset "utf-8";

body{
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0 px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
section{
	width: 100%;
	height: 95 vh;
	background-image: url("https://unsplash.com/photos/qCZzNKXcuO0"); 
	background-repeat: no-repeat; 
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70 px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	padding: 5px 5%; 
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 20px;
	font-family: myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color:#2d2a2a;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #lalala ;
    font-size: 60px;
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e ;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
	line-height:0px;
	margin:45px 0px 25px;
}
.text-container {
	position:absolute;
	left:13%;
	top: 200%;
	transform:translate(-13%,47%);
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline:none;
    margin:0px 10px;
}

.down-cv{
	background-color: #0b0b0b;
	color:#FFFFFF;
	border: none;
}
button:active{
	transform: scale(1.1);
}
.model{
	height: 500px;
	position: absolute;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); 
	bottom: 40px;
	left: 70%;
	transform: translate(-60%,125%);
	border-radius: 20%;
}
.about-container{
	width: 80%;
	height: 280px;
	background-color: #E6FEFE;
    border-radius:20px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    transform: translate(0%,280%);
    position: relative;
    justify-content: space-evenly;
    align-items:center;
}
.about-container img{
	height: 250px;
}
.about-text{
	width: 550px;
}
.about-text p:nth-child(1){
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-text p:nth-child(2){
	color: #3ee3d3d;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color: #707B7B;
	font-family:calib;
	font-weight: bold;
	font-size: 16px;
}
.about-text button{
	width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: calibri;
    background-color: #070707;
}
.contact-me{
	width: 100%;
	height: 200px;
	background-color: #070707;
    border-radius:0px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    transform: translate(0%,500%);
    position: relative;
    justify-content: space-evenly;
    align-items:center;
}
.contact-me p{
	color:#FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom:2px solid #FFFFFF; 
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	border-radius: 20%;
	font-size: 14px;
	font-weight: bold;
}
.footer{
	width: 100%;
	height: 215px;
	background-color: #EFEBEB;
    border-radius:0px;
    display: flex;
    margin: -7% auto 20px auto;
    transform: translate(0%,500%);
    position: relative;
    justify-content: center;
    align-items:center;
    align-items: center;
	position: relative;
}
.footer p{
	font-family: calibri;

}

.footer p:nth-child(1){
	font-size: 16px;
	color: #6E6E6E;
	width: 600px;
	text-align:center;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #E1E0E0;
	margin: 20px 10px;
	border-radius: 50%;

}
.social-icons{
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%);
}
.a-social-b a:hover,
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0, 0, 0,0.2);
	transition: all ease 0.5s;
}
.a-social-b:hover i,
.social-icons a:hover i{
	color:#FFFFFF;
	transition: all ease 0.5s;
}
.a-social-b{
	position: fixed;
	top:50%;
	right: 0px;
	transform:translate(-50%); 
}
.a-social-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12x rgba(0, 0, 0, 0.2);

}
.a-social-b i{
	color: #2b2b2b;
	font-size: 20px;
}
